#notFound{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 0vw;
    a {
        width: 100%;
        pointer-events: none;
        text-align: center;
        img {
            width: 50%;
            margin: 0 auto;
        }
        transform: translateY(2vw);
    }
    p {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        color: black;
        font-size: 2vw;
        transform: translateY(0vw);
        z-index: 2;
    }
    button {
        width: 20%;
        cursor: pointer;
        background-color: rgb(0,0,0);
        color: white;
        border: none;
        border-radius: 0.3vw;
        padding: 0.5vw 1vw;
        margin: 1.5vw auto 0 auto;
        font-size: 1.2vw;
    }
}