#about {
  padding-top: 0;
  height: 100vh;

  .arrowicon {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5vw;
    height: 4vw;
    width: 4vw;
    padding: 1vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    * {
      color: white;
    }
  }
  .blue {
    background: rgb(1, 8, 27);
  }
  .orange {
    background: rgb(228, 87, 31);
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    transition: all 1s ease-in-out;
    h1 {
      font-weight: 400;
      text-align: center;
      width: 100%;
      font-size: 4vw;
    }
    div {
      width: 80%;
      margin: 1vw auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        width: 10vw;
      }
      p {
        width: 60%;
        margin: 0 auto;
        font-size: 1.4vw;
        line-height: 21px;
      }
    }
  }
  .bluebg {
    .bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -1vw;
      left: 0;
      background-color: rgb(135, 201, 240);
      z-index: -1;
      clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    }
  }
  .orangebg {
    .bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -1vw;
      left: 0;
      background-color: rgb(228, 87, 31);
      z-index: -1;
      clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    }
    h1,
    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  #about {
    padding-top: 0;
    height: 100vh;
    .icon {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 18vw;
      height: 6vw;
      width: 6vw;
      padding: 1vw;
    }
    .section {
      padding-top: 0;
      h1 {
        font-weight: 400;
        text-align: center;
        width: 100%;
        font-size: 7vw;
      }
      div {
        width: 80%;
        margin: 1vw auto;
        padding-top: 3vw;
        flex-direction: column-reverse;
        img {
          width: 20vw;
        }
        p {
          text-align: center;
          width: 100%;
          margin: 0 auto 3vw auto;
          font-size: 2.2vw;
          line-height: 110%;
        }
      }
    }
  }
}
