#events {
  // height: 100vh;
  overflow: auto;
  * {
    transition: all 1s ease-in-out;
  }
  .eventElem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    h1 {
      font-size: 8vw;
      font-size: 3rem;
      font-weight: 400;
      color: white;
      span {
        color: rgb(228, 87, 31);
        font-weight: 500;
      }
    }
    .icon {
      height: 3vw;
      position: absolute;
      cursor: pointer;
      * {
        color: white;
      }
      &:hover {
        transform: scale(1.4);
        transition: all 0.6s ease-in-out;
      }
    }
    #left {
      left: 10vw;
    }
    #right {
      right: 10vw;
    }
  }
  .events {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
    h1{
        font-size: 2rem;
    }
  }
  #roadmapLink {
    position: absolute;
    cursor: pointer;
    bottom: 4vw;
    display: flex;
    align-items: center;
    background: rgb(228, 87, 31);
    padding: 0.5vw 1vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    p {
      color: white;
      margin-right: 1vw;
    }
    .icon {
      height: 2vw;
      * {
        color: white;
      }
    }
  }
  .roadmap {
    height: 100vh;
    overflow: auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.Events {
  width: 70%;
  margin: 0rem auto;
  margin-top: 5rem;
  // padding: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  // overflow: auto;
  justify-content: center;

  padding-bottom: 10vw;

  h1 {
    font-size: 2rem;
  }

  .item {
    display: flex;
    // max-height: 30rem;
    flex: 1;
    padding: 1.5rem;
    border: 0px solid;
    height: 23rem;
    width: 100%;
    box-shadow: 0 0 10px black;

    h1 {
      z-index: 3;
      width: 90%;
      font-size: 1.5rem;

      margin: 0 auto;
      margin-top: 3rem;
    }

    .left_item {
      // background-color: black;
      // gap: 1rem;
      position: relative;
      color: white;
      // padding: 1rem;
      // flex: 1;
      // width: 40%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      align-items: center;
      justify-content: center;

      flex: 0 0 50%;

      * {
        z-index: 3;
        margin-bottom: 1rem;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .left-time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        align-self: flex-end;

        > div {
          position: relative;
          border: 2px solid rgb(228, 87, 31);
          flex: 0 0 20%;
          font-size: 1rem;
        }
        .time-name {
          background-color: rgb(228, 87, 31);
          text-align: center;
          text-transform: capitalize;
        }

        .time-box {
          text-align: center;
          font-size: 1.4rem;
          padding: 0.3rem 0;
        }
      }
    }

    .right-item {
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0 auto;

        margin-bottom: 1rem;
      }
      > * {
        z-index: 3;
        width: 90%;

        margin: 0 auto;
        margin-bottom: 1rem;
      }

      .left-info {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 1rem;

        div {
          // flex: 1;
          flex: 0 0 50%;
          margin-top: 0.5rem;
          font-size: 1.1rem;
          // font-weight: bold;
        }
      }

      .about {
        text-align: justify;
      }
      .right_icon {
        display: flex;
        align-self: flex-end;

        * {
          flex: 0 0 50%;
          padding: 0.5rem;
          font-size: 1rem;
        }

        a {
          background-color: rgb(228, 87, 31);
          border: none;
          padding: 0.5rem;
          outline: none;
          cursor: pointer;
          color: white;
          text-decoration: none;
          text-align: center;
          // font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Events {
    width: 80%;

    .item {
      flex-direction: column;
      height: fit-content;

      .left_item {
        .left-info {
          flex-direction: column;
        }
      }

      .right-item {
        margin-top: 2rem;
      }
    }
  }
}
