.svg-holder {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo_g {
    stroke: #000;
    stroke-width: 0.25mm;
    fill: none;
  }
}
/* Google chrome */

@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  60% {
    stroke-dashoffset: 0;
    fill: #14e7b3;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #14e7b3;
  }
}

/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  60% {
    stroke-dashoffset: 0;
    fill: #14e7b3;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #09136b;
  }
}
