

@media only screen and (max-width: 1100px) {
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  .team_mem {
    width: 100%;
    margin-top: 15rem;
    // background-color: #333;
  }
 
  .heading{
    margin-bottom: 3rem !important;
  }
  .facultyteam {
    // height: 10rem;
    .right{
      p{

        font-size: .7rem !important;
      }
      .lq{
        transform: translateX(-16vw) translateY(-5vw) !important;
      }
      
    }
    .item{
      height: 27vw  !important;
    }
  }
}

@media only screen and (max-width: 801px) {
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
  }
  // .facultyteam{
  //   background-color: aqua;
  //   position: relative;
  //   display: block;
  //   height: min-content;
  // }
  
  
  .team_mem {
    // background-color: rebeccapurple;
    width: 100%;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  .dev1 {
    margin-top: 40vh;
    // background-color: #555;
    height: 200vh;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



@media only screen and (max-width: 770px) {
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 7rem;
  }
  .team_mem {
    // background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    margin-top: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .dev1 {
    margin-top: 60rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .facultyteam {
    height: 45rem !important;
  }
}



@media only screen and (max-width: 500px) {
  
  .right > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
  }
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 7rem;
  }
  .team_mem {
    // background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    margin-top: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .dev1 {
    margin-top: 180vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .facultyteam {
    height: 48rem !important;
  }
}


@media only screen and (max-width: 400px) {
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 7rem;
  }
  .team_mem {
    // background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .dev1 {
    margin-top: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .facultyteam {
    height: 50rem !important;
    .right{
      p{

        font-size: .5rem !important;
      }
      .lq{
        transform: translateX(-16vw) translateY(-5vw) !important;
      }
      
    }
    .item{
      height: 39vw !important;
    }
  }
}
@media only screen and (max-width: 300px) {
  .all {
    // background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // gap: 7rem;
  }
  .team_mem {
    // background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    margin-top: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .dev1 {
    margin-top: 50rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .facultyteam {
    // margin: 0;
    // width: 100%;
    height: 100%;
    // h1 {
    //     width: 90%;
    //     font-weight: 500;
    //     margin: 0 auto;
    //     text-align: left;
    //     padding: 1vw 0;
    //     line-height: 100%;
    //     font-size: 2.6vw;
    //     color: white;
    // }
    .absbutton {
      position: relative;
      z-index: 15 !important;
      margin: 0 auto;
      // left: 50%;
      transform: translate(0, 0) translateY(25vw);
      width: 59vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .left,
      .right {
        width: 2.8vw;
        height: 2.8vw;
        border-radius: 50%;
        background: black;
        .imgicon {
          border-radius: 50%;
          transform: scale(1.05);
          width: 2.9vw;
          cursor: pointer;
          * {
            color: white;
          }
        }
      }
    }
    #desktop {
      display: flex;
    }
    #mobile {
      display: none;
    }
    .slider {
      padding: 5vw 0 0 0;
      width: 90%;
      margin: 1vw auto 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      transform: translateY(18vw);
      .item {
        transition: all linear 0.5s;
        position: absolute;
        width: 56.302vw;
        height: 18vw;
        margin: 1vw auto;
        box-sizing: border-box;
        padding: 3vw 6vw 3vw 3vw;
        background: rgb(228, 87, 31);
        // background-color: #333;
        border-radius: 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .image {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 5vw;
              margin: 0;
            }
          }
          h3 {
            margin: 1vw 0;
            padding: 0;
            line-height: 100%;
            font-size: 1.4vw;
            font-weight: 500 !important;
            color: white;
          }
        }
        .right {
          width: 65%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            font-size: 1vw;
            padding: 0;
            padding-left: 2vw;
            padding-right: 1vw;
            color: white;
            font-weight: 200;
          }
          .lq,
          .rq {
            font-family: "Arial";
            position: absolute;
            font-size: 8vw;
            color: white;
          }
          .lq {
            transform: translateX(-17vw) translateY(-2vw);
          }
          .rq {
            transform: translateX(15vw) translateY(6vw);
          }
        }
      }
    }
  }
  
  
}




#team {
  width: 100%;
  padding: 0;
  margin: 0;
  .team {
    width: 100%;
    height: 100vh;
    overflow: auto;
    .heading {
      transform: translateY(7vw);
      text-align: center;
      width: 100%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 2rem;
      color: rgb(1, 8, 27);
    }
    h1 {
      width: 100%;
      margin: 0px auto;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
    }
    .all {
      // background-color: #333;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // gap: 2rem;
    }
    .team_mem {
      // margin-top: 50vh;
      // background-color: rebeccapurple;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dev1 {
      // margin-top: 80vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .teamSection {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .imagePart {
      padding: 5vw 0;
      width: 100%;
      .content {
        width: 100%;
        padding: 5vw 0 3vw 0;
        // margin: 0;

        ul {
          width: 90%;
          margin: 1vw auto;
          li {
            width: 100%;
            span {
              display: inline-block;
              width: 30%;
              color: rgb(228, 87, 31);
            }
          }
        }
      }
      .grid-container {
        overflow: auto;
        width: 90%;
        margin: 0 auto;
        // display: flex;
        // justify-content: space-evenly;
        // align-items: flex-start;
        // flex-wrap: wrap;
        padding: 0;
        overflow: hidden;
        .carousel {
          padding: 2vw 3vw 6vw 3vw;
        }
        .icon {
          position: absolute;
          height: 3vw;
          * {
            color: black;
          }
        }
        #prev {
          transform: translateX(0vw) translateY(-2vw);
        }
        #next {
          transform: translateX(-3vw) translateY(-2vw);
        }
        .image {
          width: 20vw;
          height: 20vw;
          margin: 0.5vw auto;
          img {
            object-fit: cover;
            object-position: center center;
            width: 20vw;
            height: 20vw;
            margin: 0 auto;
          }
          .details {
            visibility: hidden;
            width: 20vw;
            transform: translateY(16.05vw) translateX(0);
            height: 3.5vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            background: rgba(255, 255, 255, 0.7);
            .left {
              h1 {
                font-size: 0.8vw;
                line-height: 110%;
                font-weight: 500;
                margin: 0.3vw 0;
                color: #555;
              }
              h3 {
                font-size: 0.65vw;
                line-height: 110%;
                font-weight: 500;
                margin: 0.3vw 0;
                color: #333;
              }
            }
            a {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center;
              .icon {
                height: 2vw;
                * {
                  color: black;
                }
              }
            }
          }
          &:hover {
            cursor: pointer;
            .details {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.facultyteam {
  // margin: 0;
  // width: 100%;
  height: 100%;
  // h1 {
  //     width: 90%;
  //     font-weight: 500;
  //     margin: 0 auto;
  //     text-align: left;
  //     padding: 1vw 0;
  //     line-height: 100%;
  //     font-size: 2.6vw;
  //     color: white;
  // }
  .absbutton {
    position: relative;
    z-index: 15 !important;
    margin: 0 auto;
    // left: 50%;
    transform: translate(0, 0) translateY(25vw);
    width: 59vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .left,
    .right {
      width: 2.8vw;
      height: 2.8vw;
      border-radius: 50%;
      background: black;
      .imgicon {
        border-radius: 50%;
        transform: scale(1.05);
        width: 2.9vw;
        cursor: pointer;
        * {
          color: white;
        }
      }
    }
  }
  #desktop {
    display: flex;
  }
  #mobile {
    display: none;
  }
  .slider {
    padding: 5vw 0 0 0;
    width: 90%;
    margin: 1vw auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(18vw);
    .item {
      transition: all linear 0.5s;
      position: absolute;
      width: 56.302vw;
      height: 18vw;
      margin: 1vw auto;
      box-sizing: border-box;
      padding: 3vw 6vw 3vw 3vw;
      background: rgb(228, 87, 31);
      border-radius: 1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .image {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 5vw;
            margin: 0;
          }
        }
        h3 {
          margin: 1vw 0;
          padding: 0;
          line-height: 100%;
          font-size: 1.4vw;
          font-weight: 500 !important;
          color: white;
        }
      }
      .right {
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          font-size: 1vw;
          padding: 0;
          padding-left: 2vw;
          padding-right: 1vw;
          color: white;
          font-weight: 600;
        }
        .lq,
        .rq {
          font-family: "Arial";
          position: absolute;
          font-size: 8vw;
          color: white;
        }
        .lq {
          transform: translateX(-17vw) translateY(-2vw);
        }
        .rq {
          transform: translateX(15vw) translateY(6vw);
        }
      }
    }
  }
}
