#team {
    width: 100%;
    padding: 0;
    margin: 0;
    .team {
        width: 100%;
        height: 100vh;
        overflow: auto;
        .heading {
            transform: translateY(7vw);
            text-align: center;
            width: 100%;
            margin: 0 auto;
            font-weight: 400;
            font-size: 3vw;
            color: rgb(1, 8, 27);
        }
        .faculty {
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .item {
                width: 22%;
                padding: 2vw;
                border: 0.01vw solid #eee;
                box-shadow: inset 0 0 1vw 0.1vw #eee;
                border-radius: 1vw;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                img {
                    border-radius: 50%;
                    width: 7vw;
                    height: 7vw;
                    object-fit: cover;
                }
                h1 {
                    width: 100%;
                    text-align: center;
                    font-size: 2vw;
                    font-weight: 500;
                    color: rgb(1, 8, 27);
                    margin: 1vw 0 0 0;
                }
                h4 {
                    width: 100%;
                    text-align: center;
                    font-size: 1vw;
                    color: #999;
                    font-weight: 400;
                    margin: 0.5vw 0 1vw 0;
                }
                p {
                    margin: 1vw 0;
                    width: 100%;
                    text-align: left;
                    font-size: 0.9vw;
                    color: #444;
                }
                transition: all 1s ease-in-out;
                &:hover {
                    border: 0.01vw solid rgb(228, 87, 31);
                    background: rgba(228, 87, 31, 0.8);
                    box-shadow: inset 0 0 0.5vw 0.05vw rgba(0,0,0,0.3);
                    transform: scale(1.1);
                    h1 {
                        color: white;
                    }
                    h4 {
                        font-weight: 500;
                        color: black;
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
        .teamSection{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .imagePart{
            padding: 5vw 0;
            width: 100%;
            .content {
                width: 100%;
                padding: 5vw 0 3vw 0;
                h1 {
                    width: 100%;
                    margin: 0 auto;
                    font-weight: 400;
                    font-size: 3vw;
                    text-align: center;
                    color: rgb(1, 8, 27);
                }
                ul {
                    width: 90%;
                    margin: 1vw auto;
                    li {
                        width: 100%;
                        span {
                            display: inline-block;
                            width: 30%;
                            color: rgb(228, 87, 31);
                        }
                    }
                }
            }
            .grid-container {
                overflow: auto;
                width: 90%;
                margin: 0 auto;
                // display: flex;
                // justify-content: space-evenly;
                // align-items: flex-start;
                // flex-wrap: wrap;
                padding: 0;
                overflow: hidden;
                .carousel {
                    padding: 2vw 3vw 6vw 3vw;
                }
                .icon {
                    position: absolute;
                    height: 3vw;
                    *{
                        color: black;
                    }
                }
                #prev {
                    transform: translateX(0vw) translateY(-2vw);
                }
                #next {
                    transform: translateX(-3vw) translateY(-2vw);
                }
                .image {
                    width: 20vw;
                    height: 20vw;
                    margin: 0.5vw auto;
                    img {
                        object-fit: cover;
                        object-position: center left;
                        width: 20vw;
                        height: 20vw;
                        margin: 0 auto;
                    }
                    .details {
                        visibility: hidden;
                        width: 20vw;
                        transform: translateY(16.05vw) translateX(0);
                        height: 3.5vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        position: absolute;
                        background: rgba(255,255,255,0.7);
                        .left {
                            h1 {
                                font-size: 0.8vw;
                                line-height: 110%;
                                font-weight: 500;
                                margin: 0.3vw 0;
                                color: #555;
                            }
                            h3 {
                                font-size: 0.65vw;
                                line-height: 110%;
                                font-weight: 500;
                                margin: 0.3vw 0;
                                color: #333;
                            }
                        }
                        a {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            .icon {
                                height: 2vw;
                                *{
                                    color: black;
                                }
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .details {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #team {
        width: 100%;
        padding: 0;
        margin: 0;
        .team {
            width: 100%;
            height: 100vh;
            overflow: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .heading {
                height: 20vh;
                transform: translateY(20vh);
                text-align: center;
                width: 100%;
                margin: 0 auto;
                font-weight: 400;
                font-size: 3vw;
                color: rgb(1, 8, 27);
            }
            .faculty {
                padding-top: 5vh;
                height: 62vh;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                .item {
                    width: 45%;
                    padding: 2vw;
                    border: 0.01vw solid #eee;
                    box-shadow: inset 0 0 1vw 0.1vw #eee;
                    border-radius: 1vw;
                    img {
                        border-radius: 50%;
                        width: 12vw;
                        height: 12vw;
                        object-fit: cover;
                    }
                    h1 {
                        width: 100%;
                        text-align: center;
                        font-size: 3vw;
                        font-weight: 500;
                        color: rgb(1, 8, 27);
                        margin: 1vw 0 0 0;
                    }
                    h4 {
                        width: 100%;
                        text-align: center;
                        font-size: 2vw;
                        color: #999;
                        font-weight: 400;
                        margin: 0.5vw 0 1vw 0;
                    }
                    p {
                        margin: 1vw 0;
                        width: 100%;
                        text-align: left;
                        font-size: 1.6vw;
                        line-height: 110%;
                        font-weight: 500;
                        color: #444;
                    }
                    transition: all 1s ease-in-out;
                    &:hover {
                        border: 0.01vw solid rgb(228, 87, 31);
                        background: rgba(228, 87, 31, 0.8);
                        box-shadow: inset 0 0 0.5vw 0.05vw rgba(0,0,0,0.3);
                        transform: scale(1.1);
                        h1 {
                            color: white;
                        }
                        h4 {
                            font-weight: 500;
                            color: black;
                        }
                        p {
                            color: white;
                        }
                    }
                }
            }
            .teamSection{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
            .imagePart{
                padding: 5vw 0;
                width: 100%;
                .content {
                    width: 100%;
                    padding: 5vw 0 3vw 0;
                    h1 {
                        width: 100%;
                        margin: 0 auto;
                        font-weight: 400;
                        font-size: 3vw;
                        text-align: center;
                        color: rgb(1, 8, 27);
                    }
                    ul {
                        width: 90%;
                        margin: 1vw auto;
                        li {
                            width: 100%;
                            span {
                                display: inline-block;
                                width: 30%;
                                color: rgb(228, 87, 31);
                            }
                        }
                    }
                }
                .grid-container {
                    overflow: auto;
                    width: 90%;
                    margin: 0 auto;
                    // display: flex;
                    // justify-content: space-evenly;
                    // align-items: flex-start;
                    // flex-wrap: wrap;
                    padding: 0;
                    overflow: hidden;
                    .carousel {
                        padding: 2vw 3vw 6vw 3vw;
                    }
                    .icon {
                        position: absolute;
                        height: 3vw;
                        *{
                            color: black;
                        }
                    }
                    #prev {
                        transform: translateX(0vw) translateY(-2vw);
                    }
                    #next {
                        transform: translateX(-3vw) translateY(-2vw);
                    }
                    .image {
                        width: 20vw;
                        height: 20vw;
                        margin: 0.5vw auto;
                        img {
                            width: 100%;
                            margin: 0 auto;
                        }
                        .details {
                            visibility: hidden;
                            width: 20vw;
                            transform: translateY(14.55vw) translateX(0);
                            height: 5vw;
                            .left {
                                h1 {
                                    font-size: 1.5vw;
                                    line-height: 110%;
                                    font-weight: 500;
                                    margin: 0.3vw 0;
                                    color: #555;
                                }
                                h3 {
                                    font-size: 1vw;
                                    line-height: 110%;
                                    font-weight: 500;
                                    margin: 0.3vw 0;
                                    color: #333;
                                }
                            }
                            a {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;
                                .icon {
                                    height: 2.5vw;
                                    *{
                                        color: black;
                                    }
                                }
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            .details {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}